<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>SQ Entregas</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb897307411503687</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>FacebookAppID</key>
	<string>897307411503687</string>
	<key>FacebookClientToken</key>
	<string>a16af91f485b84a7895d1a0c84206293</string>
	<key>FacebookDisplayName</key>
	<string>SQ Entregas</string>
	<key>GADApplicationIdentifier</key>
    <string>ca-app-pub-5048252174354106~8336554666</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Esta aplicación requiere acceso a la cámara para subir la foto de perfil del cliente.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Esta aplicación necesita acceso a la ubicación para gestionar la cobertura del restaurante y cuando se añade una nueva dirección.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Esta aplicación necesita acceso a la ubicación para gestionar la cobertura del restaurante y cuando se añade una nueva dirección.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Esta aplicación requiere acceso a la galería para subir la foto de perfil del cliente.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Permite enviar audios por chat</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>NSPrivacyAccessedAPITypes</key>
    <array>
        <dict>
            <key>NSPrivacyAccessedAPICategoryFileTimestamp</key>
            <string>MPara verificar la integridad y la fecha de modificación de los archivos de configuración y datos almacenados localmente.</string>
        </dict>
        <dict>
            <key>NSPrivacyAccessedAPICategoryDiskSpace</key>
            <string>Para asegurarse de que hay suficiente espacio en disco para descargar y almacenar imágenes de menús, datos de pedidos y otros recursos necesarios.</string>
        </dict>
        <dict>
            <key>NSPrivacyAccessedAPICategorySystemBootTime</key>
            <string>Para optimizar el rendimiento de la aplicación y gestionar los recursos de manera eficiente, especialmente después de un reinicio del sistema.</string>
        </dict>
        <dict>
            <key>NSPrivacyAccessedAPICategoryUserDefaults</key>
            <string>Para almacenar y recuperar configuraciones y preferencias del usuario, como la dirección de entrega predeterminada y las opciones de pago.</string>
        </dict>
    </array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
	</array>
</dict>
</plist>
